<div class="home-promo__item" {{ block.shopify_attributes }}>
    <div class="home-promo__item-bg"></div>
    <div class="container-full">

        <div class="home-promo__content">
            <div class="o-layout">
                <div class="o-layout__item u-1/1 u-1/1@desk">
                    {% unless block.settings.image == blank %}
                        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                        <div class="o-ratio o-ratio--custom" style="padding-bottom:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
                            <div class="o-ratio__content img-lazyload-cover">
                                
                                <img class="home-promo__media-img img-lazyload lazyload js"
                                    data-src="{{ img_url }}"
                                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                    data-sizes="auto"
                                    alt="{{ block.settings.image.alt }}">
                                <noscript>
                                    <img class="home-promo__media-img"
                                        src="{{ block.settings.image | img_url: '900x' }}" 
                                        alt="{{ block.settings.image.alt }}">
                                </noscript>

                            </div>
                        </div>

                    {% else %}
                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endunless %}
                </div>
                
            </div>
        </div>

    </div>
</div>