<div id="shopify-section-anatomy" class="shopify-section">
    <div class="grid">
      <div class="span-all">
        <!-- <div class="sweeteners__eyebrow eyebrow c-blue-1 center all-caps"></div> -->
        <div class="sweeteners__title h1 section__title-text center">What makes us special</div>
      </div>
    </div>
    <div class="anatomy">
      <div class="anatomy__inner">
        <div class="anatomy__grid grid">
          <div class="anatomy__legend span-all l-span-6">
            {% assign demnutrion1 = 0 %}
          {% assign demnutrion2 = 0 %}
            {% for block in section.blocks %}
              {% assign demnutrion1 = demnutrion1 | plus: 1 %}
                {% if demnutrion1 <= 4 %}
            <div class="key">
              <div class="key__icon c-dark-navy body-3">
                <img src="{{ block.settings.icon1 | img_url: '' }}" />
              </div>
              <div class="key__content">
                <div class="key__title body--heavy c-dark-navy all-caps">
                  {{ block.settings.title1 }}
                </div>
                <div class="key__body c-grey body-3">
                  <p>{{ block.settings.description }}</p>
                </div>
              </div>
            </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="anatomy__legend span-all l-span-6">
            {% for block in section.blocks %}
              {% assign demnutrion2 = demnutrion2 | plus: 1 %}
                {% if demnutrion2 > 4 %}
            <div class="key">
              <div class="key__icon c-dark-navy body-3">
                <img src="{{ block.settings.icon1 | img_url: '' }}" />
              </div>
              <div class="key__content">
                <div class="key__title body--heavy c-dark-navy all-caps">
                  {{ block.settings.title1 }}
                </div>
                <div class="key__body c-grey body-3">
                  <p>{{ block.settings.description }}</p>
                </div>
              </div>
            </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% schema %}
  {
    "name":"Nutrition Our Secret",
    "class":"js-section__page-nutrition-secret",
    "max_blocks": 8,
    "blocks": [
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "text",
                    "id": "title1",
                    "label": "Heading",
                    "default": "Text"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Promote your brand by using a powerful combination of buttons, custom text, page content and images.</p>"
                },
            {
                    "type": "image_picker",
                    "id": "icon1",
                    "label": "Icon 1",
                    "info": "56px width recommended."
                }
          ]
      }
    ]
  }
{% endschema %}