{% capture margin_class %}{% if section.settings.link == blank %}{% unless section.settings.style_desktop == 'carousel' %} section--mb-s--desk{% endunless %}{% unless section.settings.style_mobile == 'carousel' %} section--mb-s--mob{% endunless %}{% endif %}{% endcapture %}

{% if section.blocks.size > 0 %}
    <section class="section section-home-testimonials section--{{ section.id }} {{ margin_class }}" data-section-id="{{ section.id }}" data-section-type="home-testimonials">

        {% case section.settings.style_desktop %}
            {% when 'carousel' %}
                {%- assign carousel = true -%}
                {%- assign featured = false -%}
            {% when 'featured-grid' %}
                {%- assign carousel = false -%}
                {%- assign featured = true -%}
            {% when 'grid' %}
                {%- assign carousel = false -%}
                {%- assign featured = false -%}
        {% endcase %}

        {% case section.settings.style_mobile %}
            {% when 'carousel' %}
                {%- assign mobile_carousel = true -%}
            {% when 'grid' %}
                {%- assign mobile_carousel = false -%}
        {% endcase %}

        <div class="home-testimonials home-testimonials--{{ section.settings.style_desktop }} home-testimonials--mob-{{ section.settings.style_mobile }}">
            <div class="container container--small{% if mobile_carousel %} container--mob-0{% endif %}">

                <div class="home-testimonials__items js-home-testimonials">
                    
                    <div class="o-layout o-layout--center{% if carousel or mobile_carousel %} home-testimonials-carousel js-home-testimonials-carousel{% endif %}" data-carousel-desktop="{{ carousel }}" data-carousel-mobile="{{ mobile_carousel }}" data-autoplay="true" data-slick='{"autoplay": true, "autoplaySpeed": 8000}'>

                        {% for block in section.blocks %}
                            
                            {% if featured %}
                                {% if forloop.index == 1 %}
                                    {%- assign first_featured = true -%}
                                {% else %}
                                    {%- assign first_featured = false -%}
                                {% endif %}
                            {% endif %}
                                <div class="o-layout__item u-1/1">
                                    <div {{ block.shopify_attributes }}>
                                        <div class="home-testimonials__item{% if first_featured %} home-testimonials__item--featured{% endif %}" data-slide-id="{{ forloop.index0 }}">
                                            <div class="home-testimonials__content">

                                                {% unless block.settings.text == blank %}
                                                    <div class="home-testimonials__text">
                                                        <h2 class="home-testimonials__text__text">{{ block.settings.text | escape }}</h2>
                                                    </div>
                                                {% endunless %}

                                                {% unless block.settings.name == blank %}
                                                    <div class="home-testimonials__name">
                                                        <h4 class="home-testimonials__name__text">{{ block.settings.name | escape }}</h4>
                                                    </div>
                                                {% endunless %}

                                                {% unless block.settings.source == blank %}
                                                    <div class="home-testimonials__source">
                                                        <p class="home-testimonials__source__text">{{ block.settings.source | escape }}</p>
                                                    </div>
                                                {% endunless %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                </div>

                {% unless section.settings.link == blank %}
                    <div class="section__link section__link--center">
                        <a href="{{ section.settings.link }}" class="link link--arrow section__link-link">{{ section.settings.link_title | escape }}</a>
                    </div>
                {% endunless %}

            </div>
        </div>
    </section>

{% endif %}

{% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
    </div>
{% endif %}

{% schema %}
{
    "name":"Our Story Quotes",
    "class":"js-section__home-testimonials",
    "settings":[
        {
            "type":"text",
            "id":"title",
            "label":"Heading",
            "default":"Quotes"
        }
    ],
    "blocks":[
        {
            "type":"text",
            "name":"Testimonial",
            "settings":[
                {
                    "type":"select",
                    "id":"media",
                    "label":"Icon",
                    "default":"quote",
                    "options":[
                        {
                            "value":"disabled",
                            "label":"Disabled"
                        },
                        {
                            "value":"quote",
                            "label":"Quote"
                        },
                        {
                            "value":"facebook",
                            "label":"Facebook"
                        },
                        {
                            "value":"twitter",
                            "label":"Twitter"
                        },
                        {
                            "value":"instagram",
                            "label":"Instagram"
                        },
                        {
                            "value":"stars-brand",
                            "label":"Stars (brand)"
                        },
                        {
                            "value":"stars-dark",
                            "label":"Stars (dark)"
                        }
                    ]
                },
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Image"
                },
                {
                    "type":"checkbox",
                    "id":"image_round",
                    "label":"Circular image",
                    "default":true
                },
                {
                    "type":"textarea",
                    "id":"text",
                    "label":"Text",
                    "default":"Use these testimonials to share what customers are saying about your products and your brand."
                },
                {
                    "type":"text",
                    "id":"name",
                    "label":"Name",
                    "default":"Customer name"
                },
                {
                    "type":"text",
                    "id":"source",
                    "label":"Source",
                    "default":"Source"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Testimonials",
            "category":"Text",
            "blocks":[
                {
                    "type":"text"
                },
                {
                    "type":"text"
                },
                {
                    "type":"text"
                }
            ]
        }
    ]
}
{% endschema %}