<div id="shopify-section-anatomy" class="shopify-section">
    <div class="grid locations">
        <div class="sweeteners__eyebrow eyebrow c-blue-1 center all-caps">
          <h2 class="sticky-title">{{ section.settings.instore_title }}</h2>
          <div class="sticky-desc">{{ section.settings.instore_description }}</div>
        </div>
        <ul class="listlocation">
            {% for block in section.blocks %}
            <li>
                <img src="{{ 'location.png' | asset_url }}" />
                <p class="title_store">{{ block.settings.title_store }}</p>
                <div class="address_store">
                    <div class="title">Address:</div>
                    <div class="desc">
                        <a href="{{ block.settings.link_store }}" target="_blank">{{ block.settings.address_store }} </a>
                    </div>
                </div>
                <div class="website_store">
                    <div class="title">Website:</div>
                    <div class="desc">
                        <a href="{{ block.settings.link_website }}" target="_blank">{{ block.settings.address_website }}</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% schema %}
  {
    "name": "Instore pickup",
    "class":"js-section__page-instore-pickup",
    "settings": [
        {
            "type":"text",
            "id":"instore_title",
            "label":"Title section",
            "default": "Instore pickup"
        },
        {
            "type":"richtext",
            "id":"instore_description",
            "label":"Description section",
            "default": "<p>Promote your brand by using a powerful combination of buttons, custom text, page content and images.</p>"
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Locations",
            "settings": [
                {
                    "type": "text",
                    "id": "title_store",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "address_store",
                    "label": "Address",
                    "default": "<p>Promote your brand by using a powerful combination of buttons, custom text, page content and images.</p>"
                },
                {
                    "type": "text",
                    "id": "link_store",
                    "label": "Link map store",
                    "default": "#"
                },
                {
                    "type": "text",
                    "id": "address_website",
                    "label": "Website"
                },
                {
                    "type": "text",
                    "id": "link_website",
                    "label": "Link Website"
                }
            ]
        }
    ]
  }
{% endschema %}